.navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 20px;
    background-color: white;
   
    width: 100%; /* Set width to 90% */
    margin: 0 auto; /* Center the navbar horizontally */
    box-sizing: border-box; /* Include padding in width calculation */
    margin-top: '100px';
    position: sticky;
    top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 999 !important;
  }
  .navbar-left{
    display: flex;
   gap: 28px;
   margin-top: 12px;
  }
  .navbar-left img {
    
    width: 32px;
    height: 34.3px; /* Remove the single quotes */
}

.navbar-right{
  margin-left: 135px;
  width: 100%;
  margin-right: 88px;
}
  .navbar-left h1 {
    margin: 0;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 33.8px;
    color: #727070;
    size: 28px;
  }
  
  .navbar-right input {
    padding: 2px !important;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    width: 100% !important;
    left: 497px !important;
    top: 20px !important;
    font-weight: 500 !important;
    font-family: "Montserrat" !important;
    background-color: white !important;
    padding-left: 30px !important;
    text-indent: 10px !important;
}
  
  .navbar-right input:focus {
    outline: none;
    border-color: #007bff;
  }

  .image-input {
    background-image: url('../assets/Vector.png') !important; /* Adjust the path */
    background-repeat: no-repeat !important;
    background-position: 10px center !important; /* Adjust position as needed */
    background-size: 20px !important; /* Adjust size as needed */
    padding-left: 40px; /* Adjust padding to make space for the image */
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    width: 200px;
}