.whats-happening {
    width: 96%;
    margin: 12px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .alert-center {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #1db7ff;
    color: white;
    padding: 12px 18px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, -20px); }
    to { opacity: 1; transform: translate(-50%, 0); }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; transform: translate(-50%, 0); }
    to { opacity: 0; transform: translate(-50%, -20px); }
  }
  
  
  
  .whats-happening h2 {
    margin: 0 0 15px 0;
    font-size: 20px;
    color: #333;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .buttons button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: rgb(92, 88, 88);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* .buttons button:hover {
    background-color: #0056b3;
  } */
  .what-happening-right input {
    padding: 8px !important;
    border: 1px solid #F5F6F8 !important;
    border-radius: 5px !important;
    width: 95% !important;
    /* font-weight: 500 !important; */
    /* font:bold !important; */
    font-family: "Montserrat" !important;
    background-color: #F5F6F8 !important;
    /* font-size: 2px!important; */
  }
  
  .what-happening-right input:focus {
    outline: none;
    border-color: #007bff;
  }
  .main-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
    
  }

  .visibility-selection {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  
  .visibility-selection label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;
    color: grey;
  }
  
  .visibility-selection input[type="radio"] {
    accent-color: blue; /* Custom radio button color */
    width: 18px;
    height: 18px;
  }
  
  .main-button button{
    font-size: 12px;
  }
  .blue-button{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-right: 24px;
  }

  .blue-button button{
    padding: 10px 35px;
    border: none;
    background-color: #377DFF;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
  }
  .live{
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  .photo{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-bottom: 3px;
  }
  .live-video{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    .main-button{
      display: block;
    }
    .blue-button button{
      width:100%;
      margin-top:6px;
    }

    .buttons{
      gap:0px;
    }
  }